:root {
    --semi-transparent-bg: #292C338A;
}

html {
    font-size: 62.5%;

}

body {
    font-family: 'Cormorant Garamond';
    background-color: #292C33;
    color: #FFF;
    margin: 0;
    padding: 0;
    font-weight: 100;
    position: relative;
    font-size: 2rem;

}

a {
    font-weight: 900;
    color: unset;
    text-decoration: unset;
}

a:hover {
    color: #D55D2A;
}

a img {

    transition: transform 0.5s;
}

a img:hover {
    filter: brightness(0) saturate(100%) invert(40%) sepia(94%) saturate(706%) hue-rotate(341deg) brightness(89%) contrast(89%);
    transform: scale(120%);
    transition: transform 0.5s;
}

header {
    display: flex;
    justify-content: right;
    height: 10rem;
    position: fixed;
    top: 0;
    width: 100%;


}

.header-img {
    padding: 3rem;
}

h1,
h2 {
    font-size: 12.8rem;
    margin: 0;
    padding-bottom: 8rem;
}

#bg-image,
#bg-gradient {
    position: fixed;
    width: 100%;
    height: 100vh;
}

#bg-image {
    object-fit: cover;
    z-index: -2;
    opacity: 0.8;
}

#bg-gradient {

    z-index: -3;
}

.flex-container {

    display: flex;
}

.image-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    & img {
        max-width: 50%;
        max-height: 40%;
    }
}

#sidebar-bg {
    background: var(--semi-transparent-bg);
    min-height: 200vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}

#sidebar {

    min-height: 200vh;
    position: relative;
    width: 50%;

}

#logo {
    position: fixed;
    height: 30rem;
    left: 25%;
    top: 30%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    z-index: 15;
    filter: invert(100%) brightness(100%);

}

#sidebar-socials {
    padding: 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3rem;
    width: 50vw;
    display: flex;
    justify-content: space-around;

}

#sidebar-socials img {

    height: 3rem;
    color: #FFF;

}

#beside-sidebar-content {
    width: 50%;
}


#discover-button {
    background: #FE9B3385;
    border: 0;
    font-family: unset;
    font-size: 4rem;
    height: 8rem;
    width: 35rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
}

#discover-button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
}

#discover-button:hover {
    padding-right: 24px;
    padding-left: 8px;
}

#discover-button:hover:after {
    opacity: 1;
    right: 30px;
}

#title,
#about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15rem;


}

#title h1 {
    padding-top: 12rem;
}

.parallax {
height: 50rem;
transform-style: preserve-3d;

}

.parallax-layer {
    background-position: center;
    background-size: cover;
    background-repeat: repeat-x;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

#parallax1 {    
    background-image: url(https://s3-us-west-1.amazonaws.com/contentlab.studiod/getty/959dd9e7451049c59833b3148084901a);

 }

#gallery-heading {
    padding: 6rem 20rem;
}

#gallery {
    padding: 6rem 20rem;
}

#gallery-images {
    width: 40%;
}

#gallery-text {
    width: 60%;
}

#main-bg {
    object-fit: cover;
    width: 100%;

}

#main-bg-container {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -15;
    overflow: hidden;
}

#footer {
    background-color: var(--semi-transparent-bg);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 4rem 0;
}

#socials-footer {
    padding: 2rem;


}

#socials-footer img {
    height: 6rem;
    margin: 6rem 10rem;
}